.siteLogo {
  font-family: 'Inconsolata', monospace;
  color: #fffff9;
}

.siteLogo span {
  color: #ef4123;
}

a {
  display: block;
}

@-webkit-keyframes menu-line-up {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    height: 0;
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    height: 20px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-line-up {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    height: 0;
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    height: 20px;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes menu-line-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 0;
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  80% {
    height: 20px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-line-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 0;
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  80% {
    height: 20px;
  }
  100% {
    opacity: 1;
  }
}

body {
  background: #fffef2;
}

.header {
  width: 100%;
  position: relative;
}

.header .siteLogo {
  font-size: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.header .nav-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .nav-header .up-nav-header {
  height: 50px;
  background: #181b39;
}

.header .nav-header .up-nav-header #js-buttonHamburger {
  width: 39px;
  height: 30px;
  margin: 10px 0 10px calc(100% - 39px);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow-x: hidden;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .nav-header .up-nav-header #js-buttonHamburger .hamburger-line {
  position: absolute;
  top: 14px;
  left: 6px;
  width: 18px;
  height: 2px;
  border-radius: 1px;
  background: #ef4123;
  -webkit-transition: inherit;
  transition: inherit;
}

.header .nav-header .up-nav-header #js-buttonHamburger .hamburger-line::before, .header .nav-header .up-nav-header #js-buttonHamburger .hamburger-line::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  background: #fffff9;
  -webkit-transition: inherit;
  transition: inherit;
}

.header .nav-header .up-nav-header #js-buttonHamburger .hamburger-line::before {
  top: -7px;
}

.header .nav-header .up-nav-header #js-buttonHamburger .hamburger-line::after {
  top: 7px;
}

.header .nav-header .up-nav-header #js-buttonHamburger .hamburger-line .visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.header .nav-header .up-nav-header #js-buttonHamburger .hamburger-line-move {
  position: absolute;
  top: 14px;
  left: 6px;
  width: 18px;
  height: 2px;
  border-radius: 1px;
  background: #ef4123;
  -webkit-transition: inherit;
  transition: inherit;
}

.header .nav-header .up-nav-header #js-buttonHamburger[aria-expanded="true"] .hamburger-line {
  background-color: transparent;
}

.header .nav-header .up-nav-header #js-buttonHamburger[aria-expanded="true"] .hamburger-line::before, .header .nav-header .up-nav-header #js-buttonHamburger[aria-expanded="true"] .hamburger-line::after {
  top: 0;
}

.header .nav-header .up-nav-header #js-buttonHamburger[aria-expanded="true"] .hamburger-line::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header .nav-header .up-nav-header #js-buttonHamburger[aria-expanded="true"] .hamburger-line::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header .nav-header .up-nav-header #js-buttonHamburger[aria-expanded="true"] .hamburger-line-move {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.header .nav-header .menu-nav-header {
  width: 100%;
  height: 100px;
  background: rgba(24, 27, 57, 0.95);
  font-family: 'Inconsolata', monospace;
  padding: 10px;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  opacity: 0;
  -webkit-transition: transform 0s ease-in-out;
  -webkit-transition: -webkit-transform 0s ease-in-out;
  transition: -webkit-transform 0s ease-in-out;
  transition: transform 0s ease-in-out;
  transition: transform 0s ease-in-out, -webkit-transform 0s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.header .nav-header .menu-nav-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fffff9;
  font-size: 20px;
}

.header .nav-header .menu-nav-header ul li {
  position: relative;
  width: calc((100vw - 20px) / 3);
  max-width: 150px;
  text-align: center;
  margin: 0 10px 0 0;
}

.header .nav-header .menu-nav-header ul li:nth-child(1)::before, .header .nav-header .menu-nav-header ul li:nth-child(3)::before {
  position: absolute;
  top: 0;
  left: -10px;
  content: "";
  display: block;
  width: 2px;
  height: 20px;
  border-radius: 1px;
  background: #ef4123;
  margin: 10px 4px;
  opacity: 0;
}

.header .nav-header .menu-nav-header ul li::after {
  position: absolute;
  top: 0;
  left: 100%;
  content: "";
  display: block;
  width: 2px;
  height: 20px;
  border-radius: 1px;
  background: #ef4123;
  margin: 10px 4px;
  opacity: 0;
}

.header .nav-header .menu-nav-header ul li a {
  width: 100%;
  line-height: 40px;
}

.header .nav-header .anim1-area {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100px;
  overflow-x: hidden;
}

.header .nav-header .anim1-area .anim1-item {
  position: absolute;
  top: calc(50% - 1px);
  left: 100%;
  width: 24px;
  height: 2px;
  border-radius: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#ef4123), to(transparent));
  background: linear-gradient(90deg, #ef4123, transparent);
}

.header .nav-header .anim1-area .anim1-item .addFade-anim1-item {
  width: 24px;
  height: 2px;
  border-radius: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#ef4123), to(transparent));
  background: linear-gradient(90deg, #ef4123, transparent);
}

.is-drawerActive .header .nav-header .menu-nav-header {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.is-drawerActive .header .nav-header .menu-nav-header ul li:first-child::before {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
  opacity: 1;
  -webkit-animation: menu-line-up .6s linear 1.2s 1;
          animation: menu-line-up .6s linear 1.2s 1;
}

.is-drawerActive .header .nav-header .menu-nav-header ul li:first-child::after {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
  opacity: 1;
  -webkit-animation: menu-line-up .6s linear 1s 1;
          animation: menu-line-up .6s linear 1s 1;
}

.is-drawerActive .header .nav-header .menu-nav-header ul li:nth-child(2)::after {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
  opacity: 1;
  -webkit-animation: menu-line-up .6s linear .8s 1;
          animation: menu-line-up .6s linear .8s 1;
}

.is-drawerActive .header .nav-header .menu-nav-header ul li:nth-child(3)::before {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
  opacity: 1;
  -webkit-animation: menu-line-down .6s linear 1.2s 1;
          animation: menu-line-down .6s linear 1.2s 1;
}

.is-drawerActive .header .nav-header .menu-nav-header ul li:nth-child(3)::after {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
  opacity: 1;
  -webkit-animation: menu-line-down .6s linear 1s 1;
          animation: menu-line-down .6s linear 1s 1;
}

.is-drawerActive .header .nav-header .menu-nav-header ul li:last-child::after {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
  opacity: 1;
  -webkit-animation: menu-line-down .6s linear .8s 1;
          animation: menu-line-down .6s linear .8s 1;
}

.is-drawerActive .header .nav-header .anim1-area .anim1-item {
  -webkit-transition: -webkit-transform 1s linear 0.5s;
  transition: -webkit-transform 1s linear 0.5s;
  transition: transform 1s linear 0.5s;
  transition: transform 1s linear 0.5s, -webkit-transform 1s linear 0.5s;
  -webkit-transform: translateX(calc(-100vw - 24px));
          transform: translateX(calc(-100vw - 24px));
}
/*# sourceMappingURL=style.css.map */