// 変数
// $yellowOrange: #ef4123;
$yellowOrange: #ffaf37;
$black: #181b39;
$white: #fffff9;
$pearl: #fffef2;
$header-y-lg: 72px;
// フォント
@font-face {
  font-family: 'Logo Type Gothic';
  src: url('../font/ロゴたいぷゴシック.woff2') format('woff2'),
  url('../font/ロゴたいぷゴシック.woff') format('woff');
}
$logo-font: 'Inconsolata', monospace;

// ブレイクポイント
$breakpoints: (
  'tab': 'screen and (min-width: 600px)',
  'pc': 'screen and (min-width: 1025px)',
) !default;
@mixin mq($breakpoint: tab) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 共通部分
// logo
.siteLogo {
  width: max-content;
  font-family: $logo-font;
  font-weight: 500;
  color: $white;
  span {
  color: $yellowOrange;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Logo Type Gothic', sans-serif;
}
p,
a {
  font-family: 'Hiragino Kaku Gothic ProN W3', 'Meiryo', sans-serif;
}
a {
  display: block;
}
p {
  line-height: 1.4em;
  letter-spacing: .1em;
}
.btn {
  font-weight: bold;
  margin: 42px auto 0;
  // padding: max(calc(1em + (1rem - 1em)), 0.2em) max(calc(1em + (1rem - 1em) * 0.2), 0.4em);
  padding: calc(1em + (1rem - 1em)) calc(1em + (1rem - 1em) * 0.2);
  border-radius: 5%;
}


@keyframes menu-line-up {
  0% {
    transform: translateY(40px);
    height: 0;
    opacity: 1;
  }
  60% {
    transform: translateY(0);
  }
  80% {
    height: 20px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu-line-down {
  0% {
    transform: translateY(0);
    height: 0;
    opacity: 1;
  }
  60% {
    transform: translateY(10px);
  }
  80% {
    height: 20px;
  }
  100% {
    opacity: 1;
  }
}

html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.05em;
  background: $white;
  height: auto;
  position: relative;
}
// ヘッダー
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  .nav-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .up-nav-header {
      height: 50px;
      background: $black;
      line-height: 1;
      @include mq {
        height: $header-y-lg;
      }
      .siteLogo {
        font-size: 20px;
        position: absolute;
        top: 15px;
        left: 15px;
        @include mq {
          font-size: calc(#{$header-y-lg} * .4);
          top: calc(#{$header-y-lg} * .3);
        }
      }
      #js-buttonHamburger {
        width: 39px;
        height: 30px;
        margin: 10px 0 10px calc(100% - 39px);
        box-sizing: content-box;
        overflow-x: hidden;
        position: relative;
        -webkit-transition: all .3s ease-in-out;
              transition: all .3s ease-in-out;
              @include mq {
                display: none;
              }
        .hamburger-line {
          position: absolute;
          top: 14px;
          left: 6px;
          width: 18px;
          height: 2px;
          border-radius: 1px;
          background: $yellowOrange;
          -webkit-transition: inherit;
              transition: inherit;
          &::before,
          &::after {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 1px;
            background: $white;
            -webkit-transition: inherit;
                    transition: inherit;
          }
          &::before {
            top: -7px;
          }
          &::after {
            top: 7px;
          }
          .visuallyHidden {
            position: absolute;
            white-space: nowrap;
            width: 1px;
            height: 1px;
            overflow: hidden;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            clip-path: inset(50%); 
          }
        }
        .hamburger-line-move {
          position: absolute;
          top: 14px;
          left: 6px;
          width: 18px;
          height: 2px;
          border-radius: 1px;
          background: $yellowOrange;
          -webkit-transition: inherit;
              transition: inherit;
        }
      }
      #js-buttonHamburger[aria-expanded="true"] {
        .hamburger-line {
          background-color: transparent;
          &::before,
          &::after {
            top: 0;
          }
          &::before {
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
          }
          &::after {
            -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
          }
        }
        .hamburger-line-move {
          transform: translateX(40px);
        }
      }
    }
    .menu-nav-header {
      width: 100%;
      height: 100px;
      background: rgba($black, 0.95);
      font-family: $logo-font;
      padding: 10px;
      position: absolute;
      top: -100px;
      opacity: 0;
      -webkit-transition: top 0s;
            transition: top 0s;
      -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
      @include mq {
        top: calc(#{$header-y-lg} * .1);
        right: 0;
        width: auto;
        height: calc(#{$header-y-lg} * .8);
        opacity: 1;
        padding: 0;
        background: transparent;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 300px;
        margin: 0 auto;
        color: $white;
        font-size: 20px;
        @include mq {
          max-width: none;
          width: fit-content;
        }
        li {
          position: relative;
          width: calc((100% - 33px) / 2);
          text-align: center;
          margin: 0 10px 0 0;
          @include mq {
            width: max-content;
            margin: 0 40px 0 0;
          }
          &::before {
            @include mq {
              display: none;
            }
          }
          &:nth-child(1)::before,
          &:nth-child(3)::before {
            position: absolute;
            top: 0;
            left: -10px;
            content: "";
            display: block;
            width: 2px;
            height: 20px;
            border-radius: 1px;
            background: $yellowOrange;
            margin: 10px 4px;
            opacity: 0;
          } 
          &::after {
            position: absolute;
            top: 0;
            left: 100%;
            content: "";
            display: block;
            width: 2px;
            height: 20px;
            border-radius: 1px;
            background: $yellowOrange;
            margin: 10px 4px;
            opacity: 0;
            @include mq {
              display: none;
            }
          } 
          a {
            width: 100%;
            line-height: 40px;
            @include mq {
              line-height: calc(#{$header-y-lg} * .8);
              position: relative;
            }
            @include mq {
              &::after {
                display: block;
                content: '';
                width: 100%;
                height: 1.5px;
                border-radius: 1px;
                background: $yellowOrange;
                position: absolute;
                top: 75%;
                transform: scaleX(0);
                transition: transform .3s;
                transform-origin: center;
              }
              &:hover::after {
                transform: scaleX(1);
              }
            }
          }
        }
      }
      .anim1-item {
        position: absolute;
        top: calc(50% - 1px);
        left: 100%;
        width: 24px;
        height: 2px;
        border-radius: 1px;
        background: linear-gradient(90deg, $yellowOrange, transparent);
        @include mq {
          display: none;
        }
        .addFade-anim1-item {
          width: 24px;
          height: 2px;
          border-radius: 1px;
          background: linear-gradient(90deg, $yellowOrange, transparent);
        }
      }
    }
    .anim1-area {
      position: absolute;
      top: 50px;
      width: 100%;
      height: 100px;
      overflow-x: hidden;
      
    }
  }
}
// ハンバーガーボタン押した後
.is-drawerActive {
  .header {
    .nav-header {
      .menu-nav-header {
        top: 50px;
        opacity: 1;
        ul {
          li {
            &:first-child::before {
              transition-delay: 1.8s;
              opacity: 1;
              animation: menu-line-up .6s linear 1.2s 1;
            }
            &:first-child::after {
              transition-delay: 1.6s;
              opacity: 1;
              animation: menu-line-up .6s linear 1s 1;
            }
            &:nth-child(2)::after {
              transition-delay: 1.4s;
              opacity: 1;
              animation: menu-line-up .6s linear .8s 1;
            }
            &:nth-child(3)::before {
              transition-delay: 1.8s;
              opacity: 1;
              animation: menu-line-down .6s linear 1.2s 1;
            }
            &:nth-child(3)::after {
              transition-delay: 1.6s;
              opacity: 1;
              animation: menu-line-down .6s linear 1s 1;
            }
            &:last-child::after {
              transition-delay: 1.4s;
              opacity: 1;
              animation: menu-line-down .6s linear .8s 1;
            }
          }
        }
      }
      .anim1-item {
        transition: transform 1s linear 0.5s;
        transform: translateX(calc(-100vw - 24px));
      }
    }
  }
}

// コンテンツ
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 42px 0;
  @include mq(pc) {
    padding: 84px 0;
  }
  &:first-of-type {
    margin: 50px auto 0;
    @include mq {
      margin-top: $header-y-lg;
    }
  }
  &:nth-of-type(odd) {
    background: $white;
    color: $black;
  }
  &:nth-of-type(even) {
    background: $black;
    color: $white;
  }
}

.title-section {
  font-size: 3rem;
  margin: .5em 0 1em;
}
.info-section {
  width: 80%;
  min-width: fit-content;
  max-width: 640px;
  margin: 0 auto;
  &+ .info-section {
    margin-top: 42px;
  }
  .title2nd-section {
    font-size: 2.2rem;
    margin: 0 auto 20px;
    width: max-content;
  }
  .desc-info-section {
    font-size: 1.7rem;
    min-width: calc(18em * 1.1);
    max-width: calc(19em * 1.1);
    margin: 0 auto;
  }
  .list-info-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto 16px;
    width: fit-content;
  }
  .listItem {
    display: flex;
    align-items: center;
    &+ .listItem {
    margin: 0 0 9.6px;
    }
    .fa-check-square {
      color: $yellowOrange;
      font-size: 1.8rem;
      margin: 0 6px 0 0;
      vertical-align: baseline;
    }
    &-title {
      font-size: 1.8rem;
    }
  }
}

.catch {
  padding: 0;
  position: relative;
  .iconBox {
    .iconRyokiHugu-sp {
      width: 100%;
      @include mq(pc) {
        display: none;
      }
    }
    .iconRyokiHugu-pc {
      display: none;
      @include mq(pc) {
        display: block;
        width: 100%;
      }
    }
  }
  &-area-message {
    display: none;
    @include mq(pc) {
      display: block;
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
    }
  }
  &-message {
    font-size: 3rem;
    line-height: 1.5em;
  }
}

// aboutMe
.aboutMe {
  .btn {
    color: $black;
    background: $white;
  }
}

// works
.articleContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.worksItem {
  width: 84%;
  max-width: 800px;
  margin: 0 auto 30px;
  padding: 30px 0;
  border-radius: 2vw;
  box-shadow: 0 0 12px rgba($black, .24);
  @include mq {
    padding: 30px;
  }
  &-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    @include mq {
      flex-direction: row;
    }
  }
  &-link:hover {
    opacity: .6;
  }
  &-area-image {
    width: 90%;
    margin: 0 auto;
    position: relative;
    @include mq {
      width: 40%;
    }
    &::before{
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
  &-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
  }
  &-area-info {
    @include mq {
      max-width: 60%;
    }
  }
  &-title {
    width: 80%;
    font-size: 2.2rem;
    margin: 20px auto;
  }
  &-desc {
    width: 80%;
    font-size: 16px;
    margin: 0 auto;
    max-height: 9.5em;
    overflow-y: hidden;
  }
}
.btn {
  font-size: 1.7rem;
  color: $white;
  background: $black;
  transform: translateY(-15px);
}


// コンタクトフォーム
.formArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 800px;
  min-height: 400px;
  background: $white;
  border-radius: 2vw;
  box-shadow: 0 0 2vw 1vw rgba($white, .24);
  h2 {
    color: $black;
  }
  .underConstruction {
    font-size: 3rem;
    opacity: .4;
  }
}

// メッセージ
.area-messageSentence {
  position: relative;
  width: 80%;
  max-width: 600px;
  min-height: 150px;
  margin: 0 auto 30px;
  padding: 30px 30px;
  border-radius: 2vw;
  box-shadow: 0 0 12px rgba($black, .24);
  .messageSentence {
    margin: 0 0 16px;
  }
  .siteLogo {
    position: absolute;
    bottom: 16px;
    right: 20px;
    color: $black;
    font-size: 2rem;
  }
}


// フッター
.footer {
  background: $black;
  padding: 10px 10px 0;
  position: absolute;
  
  width: 100%;
  height: 200px;
}
.bottom-footer {
  height: 45px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  .siteLogo {
    font-size: 2.4rem;
    margin: 0 auto;
    transform: translateX(.25em);
  }
  .area-copyright {
    margin: 0 auto;
    width: max-content;
  }
  .copyright {
    display: block;
    color: $white;
    font-family: $logo-font;
  }
}