// カラー
// $yellowOrange: #ef4123;
$yellowOrange: #ffaf37;
$black: #181b39;
$white: #fffff9;
$pearl: #fffef2;
// フォント
@font-face {
  font-family: 'Logo Type Gothic';
  src: url('../font/ロゴたいぷゴシック.woff2') format('woff2'),
  url('../font/ロゴたいぷゴシック.woff') format('woff');
}
$logo-font: 'Inconsolata', monospace;

// 共通部分
// logo
.siteLogo {
  width: max-content;
  font-family: $logo-font;
  font-weight: 500;
  color: $white;
  span {
  color: $yellowOrange;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Logo Type Gothic', sans-serif;
}
p,
a {
  font-family: 'Hiragino Kaku Gothic ProN W3', 'Meiryo', sans-serif;
}
a {
  display: block;
}
p {
  line-height: 1.4em;
  letter-spacing: .1em;
}


@keyframes menu-line-up {
  0% {
    transform: translateY(40px);
    height: 0;
    opacity: 1;
  }
  60% {
    transform: translateY(0);
  }
  80% {
    height: 20px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu-line-down {
  0% {
    transform: translateY(0);
    height: 0;
    opacity: 1;
  }
  60% {
    transform: translateY(10px);
  }
  80% {
    height: 20px;
  }
  100% {
    opacity: 1;
  }
}


body {
  background: $white;
  height: auto;
  position: relative;
  padding: 0 0 200px;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  .nav-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .up-nav-header {
      height: 50px;
      background: $black;
      .siteLogo {
        font-size: 20px;
        position: absolute;
        top: 15px;
        left: 15px;
      }
      #js-buttonHamburger {
        width: 39px;
        height: 30px;
        margin: 10px 0 10px calc(100% - 39px);
        box-sizing: content-box;
        overflow-x: hidden;
        position: relative;
        -webkit-transition: all .3s ease-in-out;
              transition: all .3s ease-in-out;
        .hamburger-line {
          position: absolute;
          top: 14px;
          left: 6px;
          width: 18px;
          height: 2px;
          border-radius: 1px;
          background: $yellowOrange;
          -webkit-transition: inherit;
              transition: inherit;
          &::before,
          &::after {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 1px;
            background: $white;
            -webkit-transition: inherit;
                    transition: inherit;
          }
          &::before {
            top: -7px;
          }
          &::after {
            top: 7px;
          }
          .visuallyHidden {
            position: absolute;
            white-space: nowrap;
            width: 1px;
            height: 1px;
            overflow: hidden;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            clip-path: inset(50%); 
          }
        }
        .hamburger-line-move {
          position: absolute;
          top: 14px;
          left: 6px;
          width: 18px;
          height: 2px;
          border-radius: 1px;
          background: $yellowOrange;
          -webkit-transition: inherit;
              transition: inherit;
        }
      }
      #js-buttonHamburger[aria-expanded="true"] {
        .hamburger-line {
          background-color: transparent;
          &::before,
          &::after {
            top: 0;
          }
          &::before {
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
          }
          &::after {
            -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
          }
        }
        .hamburger-line-move {
          transform: translateX(40px);
        }
      }
    }
    .menu-nav-header {
      width: 100%;
      height: 100px;
      background: rgba($black, 0.95);
      font-family: $logo-font;
      padding: 10px;
      position: absolute;
      top: -100px;
      opacity: 0;
      -webkit-transition: top 0s;
            transition: top 0s;
      -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 300px;
        margin: 0 auto;
        color: $white;
        font-size: 20px;
        li {
          position: relative;
          width: calc((100% - 33px) / 2);
          text-align: center;
          margin: 0 10px 0 0;
          &:nth-child(1)::before,
          &:nth-child(3)::before {
            position: absolute;
            top: 0;
            left: -10px;
            content: "";
            display: block;
            width: 2px;
            height: 20px;
            border-radius: 1px;
            background: $yellowOrange;
            margin: 10px 4px;
            opacity: 0;
          } 
          &::after {
            position: absolute;
            top: 0;
            left: 100%;
            content: "";
            display: block;
            width: 2px;
            height: 20px;
            border-radius: 1px;
            background: $yellowOrange;
            margin: 10px 4px;
            opacity: 0;
          } 
          a {
            width: 100%;
            line-height: 40px;
          }
        }
      }
      .anim1-item {
        position: absolute;
        top: calc(50% - 1px);
        left: 100%;
        width: 24px;
        height: 2px;
        border-radius: 1px;
        background: linear-gradient(90deg, $yellowOrange, transparent);
        .addFade-anim1-item {
          width: 24px;
          height: 2px;
          border-radius: 1px;
          background: linear-gradient(90deg, $yellowOrange, transparent);
        }
      }
    }
    .anim1-area {
      position: absolute;
      top: 50px;
      width: 100%;
      height: 100px;
      overflow-x: hidden;
      
    }
  }
}
// ハンバーガーボタン押した後
.is-drawerActive {
  .header {
    .nav-header {
      .menu-nav-header {
        top: 50px;
        opacity: 1;
        ul {
          li {
            &:first-child::before {
              transition-delay: 1.8s;
              opacity: 1;
              animation: menu-line-up .6s linear 1.2s 1;
            }
            &:first-child::after {
              transition-delay: 1.6s;
              opacity: 1;
              animation: menu-line-up .6s linear 1s 1;
            }
            &:nth-child(2)::after {
              transition-delay: 1.4s;
              opacity: 1;
              animation: menu-line-up .6s linear .8s 1;
            }
            &:nth-child(3)::before {
              transition-delay: 1.8s;
              opacity: 1;
              animation: menu-line-down .6s linear 1.2s 1;
            }
            &:nth-child(3)::after {
              transition-delay: 1.6s;
              opacity: 1;
              animation: menu-line-down .6s linear 1s 1;
            }
            &:last-child::after {
              transition-delay: 1.4s;
              opacity: 1;
              animation: menu-line-down .6s linear .8s 1;
            }
          }
        }
      }
      .anim1-item {
        transition: transform 1s linear 0.5s;
        transform: translateX(calc(-100vw - 24px));
      }
    }
  }
}

// コンテンツ
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 42px 0;
  &:first-of-type {
    margin: 50px auto 0;
  }
  &:nth-of-type(odd) {
    background: $white;
    color: $black;
  }
  &:nth-of-type(even) {
    background: $black;
    color: $white;
  }
}

.title-section {
  font-size: 24px;
  margin: 0 0 42px;
}
.info-section {
  width: 80%;
  min-width: fit-content;
  max-width: 640px;
  margin: 0 auto;
  &+ .info-section {
    margin-top: 42px;
  }
  .title2nd-section {
    font-size: 20px;
    margin: 0 auto 20px;
    width: max-content;
  }
  .desc-info-section {
    min-width: calc(18em * 1.1);
    max-width: calc(19em * 1.1);
    margin: 0 auto;
  }
  .list-info-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto 16px;
    width: fit-content;
  }
  .listItem {
    display: flex;
    align-items: center;
    &+ .listItem {
    margin: 0 0 9.6px;
    }
    .fa-check-square {
      color: $yellowOrange;
      font-size: 18px;
      margin: 0 6px 0 0;
      vertical-align: baseline;
    }
    &-title {
      font-size: 18px;
    }
  }
}

.catch {
  padding: 0;
  .iconBox {
    .iconRyokiHugu-sp {
      width: 100%;
    }
    .iconRyokiHugu-pc {
      display: none;
    }
  }
}

// works
.articleContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.worksItem {
  width: 90%;
  margin: 0 auto 30px;
  padding: 30px 0;
  border-radius: 3%;
  box-shadow: 0 0 12px rgba($black, .24);
  &-link:hover {
    opacity: .6;
  }
  &-area-image {
    width: 100%;
    margin: 0 auto;
    position: relative;
    &::before{
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
  &-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
  }
  &-title {
    width: 80%;
    font-size: 20px;
    margin: 20px auto;
  }
  &-desc {
    width: 80%;
    font-size: 16px;
    margin: 0 auto;
  }
}

// メッセージ
.area-messageSentence {
  position: relative;
  width: 80%;
  margin: 0 auto 30px;
  padding: 30px 30px;
  border-radius: 3%;
  box-shadow: 0 0 12px rgba($black, .24);
  .messageSentence {
    margin: 0 0 16px;
  }
  .siteLogo {
    position: absolute;
    bottom: 16px;
    right: 20px;
    color: $black;
    font-size: 20px;
  }
}


// フッター
.footer {
  background: $black;
  padding: 10px 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}
.bottom-footer {
  height: 45px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  .siteLogo {
    font-size: 24px;
    margin: 0 auto;
    transform: translateX(6px);
  }
  .area-copyright {
    margin: 0 auto;
    width: max-content;
  }
  .copyright {
    color: $white;
    font-family: $logo-font;
  }
}